<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="fl" fileName="C:\Logs\Djigurbot\${shortdate}.log" layout="${longdate} ${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="fe" fileName="C:\Logs\Djigurbot\errors\${shortdate}.log" layout="${longdate} ${message}" />
    
    <target xsi:type="File" name="message" fileName="C:\Logs\Djigurbot\messages\${shortdate}.log" layout="${longdate};${message}" />

    <target xsi:type="Console" name="c" layout="${message}" />
  </targets>

  <rules>
    <logger name="message" writeTo="c,message" final="true"  />
    
    <logger name="*" minlevel="Trace" maxlevel="Info" writeTo="fl,c" />
    <logger name="*" minlevel="Error" writeTo="fe,c" />
  
    
  </rules>
</nlog>